{% extends "noteapp/base.html" %}

{% block content %}
<h2>Add Note</h2>
<form method="POST" action="{% url 'noteapp:note' %}">
    {% csrf_token %}
    <div>
        <label for="id_name">Note Name:</label>
        {{ form.name }}
        <span>{{ form.name.errors }}</span>
    </div>
    <div>
        <label for="id_description">Description:</label>
        {{ form.description }}
        <span>{{ form.description.errors }}</span>
    </div>
    <div>
        <label for="id_author">Select Author:</label>
        {{ form.author }}
        <span>{{ form.author.errors }}</span>
    </div>
    <div>
        <label>Select Tags:</label>
        {% for tag in tags %}
            <label><input type="checkbox" name="tags" value="{{ tag.name }}"> {{ tag.name }}</label>
        {% endfor %}
    </div>
    <button type="submit">Add Note</button>
</form>
{% endblock %}
